
{% extends 'base/layout.html' %}
{% load static %}
 {% block main_content %}

<div class="container py-3">

    <!-- categories and advertisement start section  -->
    <div class="cat_ad card p-3">
      <div class="row" >
        <div class="col-3">
          
            <h5 class="text-white p-2 bg-secondary">Categories >></h5>
            <ul class="list-group list-group-flush" id="category_collapse">
            
              {% for fashion in fashions %}
                  <li class="list-group-item list-group-item-action dropdown dropend">
                      <a class="dropdown-toggle  d-flex justify-content-between  align-items-center text-decoration-none text-secondary" href="#" id="dropdown{{fashion.id}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <span>{{fashion.fashion_name}}</span>
                        </a>
                        <ul class="dropdown-menu p-2" aria-labelledby="dropdown{{fashion.id}}">
                            <li><a href="/products/?fashion={{fashion.fashion_name}}" class="dropdown-item">All</a></li>
                            {% for category in fashion.categories.all %}
                              <li><a class="dropdown-item" href="/products/?fashion={{fashion.fashion_name}}&category={{category.category_name}}">{{category.category_name}}</a></li>
                            {% endfor %}
                            
                          
                        </ul>
  
                  </li>
  
  
              {% endfor %}
              
              
          </ul>
        </div>
        <div class="col-9">
            <div id="carouselExampleInterval" class="carousel slide p-2" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000" style="height:400px; object-fit:cover;">
                    <img src="{% static 'images/cloth1.jpg' %}" class="d-block w-100"  alt="cloth1">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000"  style="height:400px; object-fit:cover;">
                    <img src="{% static 'images/shoes1.jpg' %}" class="d-block w-100" alt="..." >
                  </div>
                  <div class="carousel-item"  style="height:400px; object-fit:cover;">
                    <img src="{% static 'images/watch1.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      </div>
    </div>
  <!-- categories and advertisement end section -->

  <!-- latest product section start -->
    <div class="my-4 py-4">
        <h3 class="my-3 text-primary">Latest Products</h3>

        <div class="row">
          {% for product in products %}
              <div class="col-3 mb-3">
                <div class="card" style="width: 18rem; height:350px;">

                  <div style="max-height: 250px; object-fit: cover; overflow: hidden;">
                    <img src="{{ product.thumbnail.url }}" class="img-fluid" alt="...">
                  </div>

                      
                    
                    <div class="card-body">
                      
                      <h5 class="card-title text-title text-secondary">
                        {{product.title}}
                      </h5>
                      <div class="card-text">
                          <p class="d-block text-secondary">Price : Rs. {{product.price}}</p>
                      </div>
                      
                      
                    </div>
                    <div class="card-footer">
                      <a href="{% url  'product_detail' product.title %}" class="btn btn-outline-warning btn-sm">view card</a>
                    </div>
                  </div>
            </div>
          {% endfor %}
            
        </div>
        

    </div>
  <!-- latest product end section  -->

</div>

{% endblock main_content %}
